# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
.cache
.pytest_cache

# Text editor files
*~
*.swp
.vscode

# Mac nonsense
.DS_Store

# Ignores examples from phenix developers website
examples/

# For git commit notifications and versioning
.git-notifier*
git-notifier.log
.gitversion
